.jumbotron {
    display: flex;
    text-align: center;
    background-image: url("moneyHeist.png");
    height:200px;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-color: black;
    width: 140%;
    background-size: contain;
}